<!--
  @description       : 
  @author            : akshat.jain@mtxb2b.com
  @group             : 
  @last modified on  : 06-18-2021
  @last modified by  : akshat.jain@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                   Modification
  1.0   06-18-2021   akshat.jain@mtxb2b.com   Initial Version
-->
<template>
    <h2 class="slds-text-heading_medium slds-m-bottom_medium">
        Focus on Modal Demo
    </h2>
    <p>Below are some interactive elements</p>
    <p>Once the modal is open, focus should shift to the first interactive element inside modal</p>
    <p>Focus should not leak through modal i.e. interactive elements behind the modal should not receive the focus till the time modal is open</p>

    <div class="slds-p-vertical_medium lgc-bg">
        <lightning-input type="text" label="Enter some text"></lightning-input>
    </div>        
    <lightning-button variant="brand-outline" label="Show Modal" title="Show Modal" onclick={handleShowModal}></lightning-button>

    <c-slds-modal 
        onclose={closeModal}
        if:true={showModal}
    ></c-slds-modal>
</template>