<!--
  @description       : 
  @author            : akshat.jain@mtxb2b.com
  @group             : 
  @last modified on  : 06-18-2021
  @last modified by  : akshat.jain@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                   Modification
  1.0   06-18-2021   akshat.jain@mtxb2b.com   Initial Version
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h2>
                <p class="slds-m-top_x-small">Here’s a tagline if you need it. It is allowed to extend across mulitple
                    lines, so I’m making up content to show that to you. 
                    </p>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat
                    veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit
                    officia tempor esse quis. Cillum sunt ad dolore quis
                    aute consequat ipsum magna exercitation reprehenderit magna. Tempor cupidatat consequat elit dolor
                    adipisicing.</p>
                <p>Dolor eiusmod sunt ex incididunt cillum quis nostrud velit duis sit officia. Lorem aliqua enim
                    laboris do dolor eiusmod officia. Mollit incididunt nisi consectetur esse laborum eiusmod pariatur
                    proident. Eiusmod et adipisicing culpa deserunt nostrud
                    ad veniam nulla aute est. Labore esse esse cupidatat amet velit id elit consequat minim ullamco
                    mollit enim excepteur ea.</p>
            </div>
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={handleClick}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={handleClick}>Okay</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>